

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  .home,
  .services,
  .contact,
  .events,
  .support
  {

  font-size: 2rem;

  
  }
  
  .services {
    padding: 0rem 1;
    color: white;
  }
  .services {
    background-color:#818181;
    text-align: center;
  }
  .services-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
  }
  .service span {
    display: inline-block;
    color: var(--primaryColor);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .services h6 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .services p {
    width: 80%;
    margin: 0 auto;
    color: var(--mainBlack);
  }
  @media screen and (min-width: 992px) {
    .services-center {
      width: 95vw;
      max-width: 1170px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .services p {
      width: 100%;
    }
  }

  